body {
  background-color: rgb(120, 191, 219);
  position: relative;
}


.header {
  display: flex;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.site-title {
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  padding-top: 20px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 10px;
}


a {
  text-decoration: none;
  color: black;
}

a:hover {
    color: white;
}

main {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

h2 {
  display: block;
  border-bottom: 1px solid black;
  padding-top: 60px;
  margin: 5px;
  width: 400px;
}

p {
  margin: 0px;
  font-size: 18px;
  width: 400px;
}

.video {
  margin-top: 40px;
  border: 3px solid gray;
  width: 400px;
  height: 250px;
}

.fb {
  position: absolute;
  top: 800%;
  left: 92%;
  width: 50px;
  height: 60px;
}

@media only screen and (max-width: 768px) {
    ul {
        flex-direction: column;
    }

    .video {
        margin-bottom: 20px;
    }

    .fb {
        top: 100%;
        left: 82.5%;
    }
}
